@use '../../../styles/breakpoint.scss';
@use '../../../styles/variables' as v;

$lite: orange;
$size: 48px;

.spinnerSquare {
  width: $size;
  height: $size;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);

  &::before {
    content: '';
    width: calc($size / 2);
    height: calc($size / 2);
    position: absolute;
    left: 0;
    top: -(calc($size / 2));
    animation: animloader59 4s ease infinite;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: calc($size / 2);
    height: calc($size / 2);
    background: rgba($lite, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    animation: animloader56 2s ease infinite;
  }


}

@keyframes animloader59 {
  0% {
    box-shadow: 0 24px rgba($lite, 0), 24px 24px rgba($lite, 0), 24px 48px rgba($lite, 0), 0px 48px rgba($lite, 0)
  }

  12% {
    box-shadow: 0 24px rgba($lite, 1), 24px 24px rgba($lite, 0), 24px 48px rgba($lite, 0), 0px 48px rgba($lite, 0)
  }

  25% {
    box-shadow: 0 24px rgba($lite, 1), 24px 24px rgba($lite, 1), 24px 48px rgba($lite, 0), 0px 48px rgba($lite, 0)
  }

  37% {
    box-shadow: 0 24px rgba($lite, 1), 24px 24px rgba($lite, 1), 24px 48px rgba($lite, 1), 0px 48px rgba($lite, 0)
  }

  50% {
    box-shadow: 0 24px rgba($lite, 1), 24px 24px rgba($lite, 1), 24px 48px rgba($lite, 1), 0px 48px rgba($lite, 1)
  }

  62% {
    box-shadow: 0 24px rgba($lite, 0), 24px 24px rgba($lite, 1), 24px 48px rgba($lite, 1), 0px 48px rgba($lite, 1)
  }

  75% {
    box-shadow: 0 24px rgba($lite, 0), 24px 24px rgba($lite, 0), 24px 48px rgba($lite, 1), 0px 48px rgba($lite, 1)
  }

  87% {
    box-shadow: 0 24px rgba($lite, 0), 24px 24px rgba($lite, 0), 24px 48px rgba($lite, 0), 0px 48px rgba($lite, 1)
  }

  100% {
    box-shadow: 0 24px rgba($lite, 0), 24px 24px rgba($lite, 0), 24px 48px rgba($lite, 0), 0px 48px rgba($lite, 0)
  }
}

@keyframes animloader56 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0)
  }

  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg)
  }

  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg)
  }

  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg)
  }

  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg)
  }
}

.spinnerSquareLoader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 1000;

  &_fade-enter {
    opacity: 0;
  }

  &_fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }

  &_fade-exit {
    opacity: 1;
  }

  &_fade-exit-active {
    transition: opacity 500ms;
    opacity: 0;
  }
}