@use '../../../styles/breakpoint.scss';
@use '../../../styles/variables' as v;


.radioInput {
  display: flex;

  &_radio {
    display: flex;
    flex-direction: row;
    gap: .3rem;

    &_input {
      display: none;
    }

    &_input:checked+&_mark {
      border: solid 5px v.$bgColor-primary;
    }

    &_mark {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: solid 1px v.$bgColor-primary;
      transition: border .1s ease-in-out;
      transform: translateY(25%);
    }
  }
}