@use '../../../styles/breakpoint.scss';
@use '../../../styles/variables' as v;


.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: 0.3rem;

  &_input {
    position: relative;
    display: inline-block;
    opacity: 0;

    &+.checkbox_label {
      position: relative;
      padding: 0;
      cursor: pointer;
    }

    &+.checkbox_label:before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 5px;
      border: solid 1px v.$textColor-colorDarkTrans1;
      margin-right: 10px;
      transform: translateX(-1.5rem);
      background-color: transparent;
      transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    }

    &+.checkbox_label-whitebg:before {
      background-color: white;
    }

    &:checked+.checkbox_label:before {
      background-color: v.$bgColor-primary;
      border: solid 1px transparent;
      cursor: pointer;
    }

    &:checked+.checkbox_label:after {
      content: '';
      position: absolute;
      left: -20px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}